`func print(filename)`
Write a method that reads the contents of a file, line by line, and creates a String object,
making sure all the newlines are preserved.

In [142]:
import pandas as pd
import re


class pd_file_analyzer():

    def __init__(self):
       pass

    def func_print(self, file_name):
        f = open(file_name)
        file_list = f.readlines()
        words = "".join(file_list)
        
        return (words.lower())

    def wc(self, words):
        
        ww = list(words)
        w2 = w = re.sub(r'[^a-zA-Z0-9]', ' ', words)
        w = w2.split()


        
        df = pd.Series(w2)
        df_b4 = pd.Series(w)

        ch = df.str.len()# works
        char_count = ch.iloc[0]
        word_count = df_b4.size # works
        lines = pd.Series(ww)
        line_count = lines.str.count("\n").sum()

        ans = pd.Series([char_count, word_count,line_count])

        return ans
    
    def wordFrequency(self, words):
        split_words = re.sub(r'[^a-zA-Z0-9]', ' ', words)
        split_words = split_words.split()

        df = pd.Series(split_words)

    
        dd = df.value_counts().reset_index()
        
        
        return dd
    
    def letterFrequency(self,words):
        words_witout = re.sub(r'[^a-zA-Z0-9]', '', words) # make sure 3rd parameter space is closed
        split_chars = list(words_witout)

        df = pd.Series(split_chars)

        df1 = df.value_counts().reset_index()

        return df1

In [143]:
f = "/Users/kunle/Python Projects/PyWordForWord/testdata/blue.txt"
fun = pd_file_analyzer()
b = fun.func_print(file_name=f)
b

'the blue fox is blue.'

In [144]:
g = fun.letterFrequency(b)
g

   index  count
0      e      3
1      b      2
2      l      2
3      u      2
4      t      1
5      h      1
6      f      1
7      o      1
8      x      1
9      i      1
10     s      1

In [134]:
h = fun.wc(b)

bo = pd.DataFrame(h)
bo = bo.T
bo.rename(columns={0:"char_count", 1:"word_count", 2:"line_count"}, inplace=True)
bo.describe

<bound method NDFrame.describe of    char_count  word_count  line_count
0          21           5           0>

In [135]:
ddd = fun.wordFrequency(b)
ddd = ddd.T
# ddd.columns = ddd.iloc[0]
# ddd = ddd[1:]
# ddd
ddd = ddd.rename(columns=ddd.iloc[0]).drop(ddd.index[0])
ddd = ddd.rename(index = {'count':0})
ddd
ddd.describe

<bound method NDFrame.describe of   blue the fox is
0    2   1   1  1>

In [150]:
#bhhh = pd.concat([bo,ddd], ignore_index=True)
hhh = bo.join(ddd)
hhh

   char_count  word_count  line_count blue the fox is
0          21           5           0    2   1   1  1

In [151]:
jjj = fun.letterFrequency(b)
jjj = jjj.T
jjj = jjj.rename(columns=jjj.iloc[0]).drop(jjj.index[0])
jjj = jjj.rename(index = {'count':0})
jjj

   e  b  l  u  t  h  f  o  x  i  s
0  3  2  2  2  1  1  1  1  1  1  1

In [152]:
final = hhh.join(jjj)
final

,char_count,word_count,line_count,blue,the,fox,is,e,b,l,u,t,h,f,o,x,i,s
0,21,5,0,2,1,1,1,3,2,2,2,1,1,1,1,1,1,1

In [159]:
import mysql.connector 
from sqlalchemy import create_engine

try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="new_user",
        password="password",
        # database="word4word"
    )
    print("Connection Established")
    cursor = mydb.cursor()
    cursor.execute("create database if not exists new_db")
    mydb.commit()
    print("Database created successfully")
    cursor.execute("use new_db")

except mysql.connector.Error as err:
    print("An error occured:", err)

Connection Established
Database created successfully

In [162]:
hostname = "localhost"
database = "new_db"
username = "username"
password = "password"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))

In [ ]:
final.to_sql('table1', engine,if_exists='replace',index=False)